#admin {
    padding: 2rem;
}





.krc {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам оборачиваться на меньших экранах */
    gap: 2rem;
}

.img-input {
    flex: 1;
    min-width: 300px; /* Минимальная ширина для удобства */
}

.img-input input {
    display: block;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #e2e8f0; /* light gray */
    border-radius: 4px;
    width: 100%;
}

.image-preview {
    margin-top: 1rem;
}

.image-preview img {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #e2e8f0; /* light gray */
}

.inputs {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px; /* Минимальная ширина для удобства */
}

.inputs input {
    padding: 0.75rem;
    border: 1px solid #e2e8f0; /* light gray */
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
    color: black;
}

.inputs input:focus {
    border-color: #4a90e2; /* blue */
    outline: none;
}

.inputs .inputt {
    display: flex;
    gap: 1rem;
}

.inputs .inputt input {
    flex: 1;
}

button {
    background-color: #4a90e2; /* blue */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #357ab8; /* darker blue */
    transform: scale(1.05); /* Slight zoom effect */
}

.about-book {
    height: 100px; /* Set a height for the description input */
}

.Toastify__toast--error {
    background-color: #e74c3c; /* red for errors */
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .krc {
        flex-direction: column; /* Стили для меньших экранов */
        align-items: center;
    }

    .img-input, .inputs {
        width: 100%; /* Полная ширина для меньших экранов */
      

    }

    .inputs .inputt {
        flex-direction: column; /* Вертикальное расположение на меньших экранах */
        gap: 1rem;
      
    }

    .inputs .inputt input {
        width: 300px; /* Полная ширина для каждого поля ввода */
    
      
    }
}

@media (max-width: 480px) {
    #admin {
        padding: 1rem; /* Меньше отступов на очень маленьких экранах */
    }

  
}

@media (max-width: 320px) {
  

}

