.search{
    margin-top: 100px;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
}

@media(max-width:767px){
    .box{
        width: 200px;
        height: auto;
    }
    .searchName{
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
    }
}